@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #24272E;
}

header {
    padding: 20px;
    background: white;
}

header>h1 {
    color: #25272E;
    text-align: center;
}
.game_rules{
    margin: 20px auto;
    color: white;
    border: 2px solid white;
    width: 50%;
    border-radius: 10px
}
.game_rules>h3{
    font-size: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.game_rules>p{
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.game_rules>ol{
    font-size: 20px;
    margin-left: 55px;
}
.game_rules>ol>li{
    padding: 20px
}
.game-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tower {
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 10px;
    background-color: bisque;
    border: 1px solid rgb(0, 216, 72);
    border-radius: 5%;
    transition: all 0.3s ease;
}

.line-in-middle {
    width: 200px;
    height: 250px;
    background: linear-gradient(to right,
            transparent 0%,
            transparent calc(50% - 0.81px),
            rgb(156, 8, 8) calc(50% - 0.8px),
            rgb(163, 7, 7) calc(50% + 0.21px),
            transparent calc(50% + 21px),
            transparent 100%);
}

.disk:hover {
    cursor: pointer;
    border: 5px solid greenyellow;
}

#disk1 {
    background-color: aquamarine;
    width: 90%;
    height: 50px;
}

#disk1:hover {
    box-shadow: 0 0 10px #31b43a;
}

#disk2 {
    background-color: rgb(197, 214, 166);
    width: 75%;
    height: 50px;
}

#disk2:hover {
    box-shadow: 0 0 10px #fcfdfc;
}

#disk3 {
    background-color: rgb(204, 124, 20);
    width: 50%;
    height: 50px;
}

#disk3:hover {
    box-shadow: 0 0 10px #d49f0b;
}

#disk4 {
    background-color: rgb(79, 144, 218);
    width: 25%;
    height: 50px;
}

#disk4:hover {
    box-shadow: 0 0 10px #04d1c7;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: white;
}
footer>h3 {
    color: #25272E;
    text-align: center;
}